In [ ]:
import pandas as pd
df=pd.read_csv('/content/Employee (3).csv')
print(df)

   employee_id first_name last_name   hire_date department    job_title
0         1001       John     Smith  01-01-2015         IT    Developer
1         1002       Jane       Doe   2/15/2016         HR      Manager
2         1003        Bob   Johnson   5/20/2017      Sales  Salesperson
3         1004      Emily      Wong  09-10-2018         IT      Analyst
4         1005       Jack       Lee  12-01-2019  Marketing     Marketer

In [ ]:
df['employee_id']

0    1001
1    1002
2    1003
3    1004
4    1005
Name: employee_id, dtype: int64

In [ ]:
greater=df[df['employee_id'].ge(1000)]