In [ ]:
import numpy as np
arr1=np.genfromtxt("/content/Employee (3).csv",delimiter=',',dtype=str,skip_header=1)
arr1

array([['1001', 'John', 'Smith', '01-01-2015', 'IT', 'Developer'],
       ['1002', 'Jane', 'Doe', '2/15/2016', 'HR', 'Manager'],
       ['1003', 'Bob', 'Johnson', '5/20/2017', 'Sales', 'Salesperson'],
       ['1004', 'Emily', 'Wong', '09-10-2018', 'IT', 'Analyst'],
       ['1005', 'Jack', 'Lee', '12-01-2019', 'Marketing', 'Marketer']],
      dtype='<U11')

In [ ]:
type(arr1)

numpy.ndarray

In [ ]:
print(arr1[:,0])

['1001' '1002' '1003' '1004' '1005']