In [ ]:
import csv
f1=open('/content/emp.csv.csv','r')
f2=open('/content/Employee.csv','r')
f3=open('/content/empsal.csv','w')
data1=list(csv.reader(f1, delimiter=","))
data2=list(csv.reader(f2, delimiter=","))
print('The student Record is ',data1)
print('\nPlacement company of sudents are ',data2)
#merging of two files
data3=[]
for i in range(len(data2)):
data3.append(data1[i]+data2[i])
cf3=csv.writer(f3)
print('\nThe merged file is data is ',data3)
#find max, min, avg salary
sal=[]
for i in range(1,len(data1)):
sal.append(int(data1[i][5]))
print('The placement salary data is ')
for i in sal:
print(i)
sum=0
for i in sal:
sum=sum+i
print('The the average salary is',sum/len(sal))
print('The the max salary is',max(sal))
print('The the min salary is',min(sal))
#top 5 records
def top5std(data3):
data3.sort(key=lambda x: (x[5]), reverse=True)
print("\nTop 5 placements are:-")
for i in range(5):
print(data3[i+1])
top5std(data3)
#find age by the given birthdate
from datetime import date
from datetime import datetime
def calculateage(d):
today=date.today()
print('/nThe date is ',today)
t=datetime.strptime(d,'%d/%m/%Y')
age=today.year-t.year
if(today.month,today.day)<(t.month,t.day):
age=age-1
return(age)
bdate=[]
age=[]
for i in range(1,len(data2)):
print(data2[i][1])
bdate.append(data2[i][1])
for i in range(len(bdate)):
print(data2[i][1])
age.append(calculateage(bdate[i]))
print('The age of student is',age)
f1.close()
f2.close()
f3.close()

IndentationError: ignored