In [ ]:
data=darshan.xlsx(csv.reader)

In [ ]:
import csv
fcsv=open('/content/darsh.csv')
data=list(csv.reader(fcsv,delimiter=','))
print(data)
fcsv.close()

[['Id', 'experience age', '', 'Gender', 'salary'], ['1', '5', '21', 'Male', '25000'], ['2', '2', '25', 'female', '30000'], ['3', '', '30', 'male', '28000'], ['4', '7', '25', 'male', '20000'], ['5', '6', '24', 'female', '24000'], ['6', '8', '28', 'female', '120000'], ['7', '4', '26', 'female', '200000'], ['8', '5', '29', 'male', '65000'], ['9', '2', '25', 'Male', '140000'], ['10', '4', '30', 'male', '250000']]

In [ ]:
import csv
fcsv=open('/content/darshanT.csv')
data=list(csv.reader(fcsv,delimiter=','))
print(data)
fcsv.close()

[['ID', 'Exp', 'Name', 'Gender', ' Age', 'Salary'], ['1', '4', 'Girish', 'Male', '24', '10000'], ['2', '5', 'sanket', 'male', '25', '12000'], ['3', '7', 'bengal', 'female', '30', '15000'], ['4', '6', 'isha', 'female', '24', '20000'], ['5', '4', 'rohit', 'male', '28', '21000'], ['6', '3', 'tanuja', 'female', '29', '14000'], ['7', '4', 'monal', 'female', '24', '18000'], ['8', '5', 'viraj', 'Male', '22', '16000'], ['9', '8', 'diya', 'female', '30', '70000'], ['10', '9', 'vicky', 'Male', '32', '26000']]

In [ ]:
type(data)

list

In [ ]:
data[0]

['Id', 'experience age', '', 'Gender', 'salary']

In [ ]:
max=int(data[1][4])
for i in range(2,len(data)):
  if max<int(data[i][4]):
    max=int(data[i][4])

In [ ]:
data[1][1]

'4'

In [ ]:
sum=0
for i in range(1,5):
  print(sum,'+',data[i][4])
  sum=sum+int(data[i][4])
  print (sum)

0 + 24
24
24 + 25
49
49 + 30
79
79 + 24
103