In [ ]:
import pandas as pd
df=pd.read_csv('/content/DARSHANPRN.csv')
print(df)
import pandas as pd
df=pd.read_csv('/content/darshan.csv')
print(df)

   PRN  S1  S2  S3  S4  S5
0    1  50  42  35  36  43
1    2  48  35  48  42  42
2    3  48  35  48  42  32
3    4  48  35  48  42  42
4    5  22  23  25  36  35
        Name Division  Roll NO  Gender
0      sanvi        A      201  Female
1  mrunmayee        B      301  Female
2     Gayari        A      401  Female
3  shambhavi        B      501  Female
4         om        A      601    male